{% extends 'base.html' %}

{% load bootstrap %}

{% load static %}

{% block title %} Download Slot Details. {% endblock %}

{% block content %}
<style>
    *{
        margin: 0px;
        padding: 0px;
    }
    .card{
        width: 50%;
        /* display: inline-block; */
        box-shadow: 2px 2px 20px black;
        border-radius: 5px; 
        margin: 2%;
        background-color: gainsboro;
        /* border-right: 3px dotted;
        margin-right: 50px; */
    }

    .image
    {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 100%;
    }




</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Download Slot Details</li>
    </ol>
  </nav>

<br>
<a class="btn btn-primary" href="{% url 'courses:courses' %}">All Courses</a>   

{% if request.user.is_authenticated %} 
        {% if request.user.is_faculty %}
                <a class="btn btn-primary" href="{% url 'courses:mycreatedcourses' %}">My Courses</a>
        {% else %}
                <a class="btn btn-primary" href="{% url 'courses:my_registered_courses' %}">My Courses</a>
        {% endif %}
{% endif %}
<br><br> 
    {% for row in ticket_detail %}
   
<a href="{% url 'schedular:ticket' row.id %}" id="{{row.id}}"> 
    <div class="card" >
        
     
        <div class="contain">
            <div class="image" style="background-color: red;">
                <h2 style="padding: 10px; color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Course: {{row.course.course_name}}</h2>
            </div>
    
            <div class="des">
                <img src="{% static 'ticket.png' %}" style="width: 30%; height: 30%; padding-left: 9px; padding-bottom: 9px; " alt="">
                <div style="float: right; margin-right: 30%;">
                  <h2>{{row.course.user}}</h2>
                  <h3>{{row.schedule.date}}</h3>
                  <h3>{{row.schedule.start_time}} - {{row.schedule.end_time}}</h3>
                  <h4>Seat No:{{row.seat}}</h4>
                </div>
                
            </div>
        </div>

    </div>


</a>

    {% endfor %}

    <script>
            window.onload = function(){
                document.getElementById("{{row.id}}").addEventListener("click",()=>{
                    const tic = this.document.getElementById("{{row.id}}");
                    console.log(tic);
                    console.log(window);
                    html2pdf().from(tic).save();
                })
            }
    </script>

{% endblock %}