{% extends 'base.html' %}

{% load bootstrap %}

{% load static %}

{% block title %} Clashing slots. {% endblock %}

{% block content %}
<style>
    *{
        margin: 0px;
        padding: 0px;
    }
    .card{
        width: 30%;
        /* display: inline-block; */
        box-shadow: 2px 2px 20px black;
        border-radius: 5px; 
        margin: 2%;
        background-color: gainsboro;
        /* border-right: 3px dotted;
        margin-right: 50px; */
    }

    .image
    {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 100%;
    }
</style>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Clash Slot</li>
  </ol>
</nav>

<br>
<a class="btn btn-primary" href="{% url 'courses:courses' %}">Clash Slots</a>   

{% if request.user.is_authenticated %} 
      {% if request.user.is_faculty %}
              <a class="btn btn-primary" href="{% url 'courses:mycreatedcourses' %}">My Courses</a>
      {% else %}
              <a class="btn btn-primary" href="{% url 'courses:my_registered_courses' %}">My Courses</a>
      {% endif %}
{% endif %}
<br><br>

<div style="color: red;">
  <h2 style="padding: 10px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">You have alreay booked a slot which clashes with this schedule. Cancel the previous booked slot to book this slot!
  </h2>
  <p style="font-size: 20px;">These are the Clashing slots</p>
</div>
  <div class="container">
    <div class="row"></div>
      {% for seat in seats %}
          <div class="card col-12 col-sm-6 col-md-4">

            <div >
              <h3 style="padding: 10px; text-align:center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Course: {{seat.course.course_name}}</h3>
            </div>
          <hr>
  
            <div class="des">
              <div style="margin-left: 30px; margin-bottom:10px" >
                <h3>{{seat.course.user}}</h3>
                <h4>{{seat.schedule.date}}</h4>
                <h4>{{seat.schedule.start_time}} - {{seat.schedule.end_time}}</h4>
                <h5>{{seat.seat}}</h5>
                <a class="btn btn-danger"  href="{% url 'schedular:cancel_booking' id1=seat.course_id id2=seat.schedule.id pk=seat.pk  %}">Cancel Booking</a>
          
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>                


{% endblock %}